@using DMSOnlineStore.Core.Enums
@model IEnumerable<OrderTableViewModel>
@{
    ViewData["Title"] = "Orders";
}

<h2 style="text-align: center" >Orders </h2>
<hr style="width: 50%; text-align: center"/>


@if (!Model.Any())
{
    <div class="alert alert-warning" role="alert">
        No Orders Found!
    </div>
}
else
{
    <table class="table table-striped">
        <thead>
        <thead>
            <tr>
                <th>UserName</th>
                <th>Price</th>
                <th> Discount</th>
                <th>Request Date</th>
                <th>Statue</th>
                <th>TaxValue</th>
                <th>Due Date</th>
                <th>Action</th>
               
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>

                        @Html.ActionLink(item.UserName, "Index", "OrderDetails"
                            , new { id = item.Id })
                    </td>
                    <td>@item.TotalPrice</td>
                    <td>@item.Discount</td>
                    <td>@item.RequestDate</td>
                    <td>@item.Statue</td>
                    <td>@item.TaxValue</td>
                    <td>@item.DueDate</td>
                    <td>
                    <a href="@Url.Action("ChangeStatue", "OrderDetails", new {id = item.Id , statue=1} )" class="btn btn-success">
                        <i class="bi bi-cart"  ></i>

                        In Deliver
                    </a>
                    <a href="@Url.Action("ChangeStatue", "OrderDetails", new {id = item.Id,statue=2})" class="btn btn-outline-secondary">
                        <i class="bi bi-check"  ></i>

                        Close
                    </a>
                   </td>
                </tr>
            }
        </tbody>

    </table>
}