@model IEnumerable<DMSOnlineStore.WebUI.ViewModel.CartShipping.CartShippingViewModel>

@{
    ViewData["Title"] = "Cart";
}




  <section>
        <div class="row">

            <div class="col-lg-8">

                <div class="mb-3">
                    <div class="pt-4 wish-list">

                        <h5 class="mb-4">Cart (<span></span> items)</h5>
                

                        @foreach (var item in Model)
                        {
                            <div class="row mb-4">
                                <div class="col-md-5 col-lg-3 col-xl-3">
                                    <div class="view zoom overlay z-depth-1 rounded mb-3 mb-md-0">
                                        <img class="img-fluid w-100"
                                             src="https://www.iforium.com/wp-content/uploads/Placeholder-Image-400.png" alt="Sample">
                                    
                                    </div>
                                </div>
                                <div class="col-md-7 col-lg-9 col-xl-9">
                                    <div>
                                        <div class="d-flex justify-content-between">
                                            <div>
                                                <h5>@item.Name</h5>
                                                <p class="mb-3 text-muted text-uppercase small">Shirt - @item.Uom</p>
                                                <p class="mb-3 text-muted text-uppercase small">Uom: @item.Uom</p>
                                                <p class="mb-2 text-muted text-uppercase small">Description: @item.Discount</p>
                                            </div>
                                            <div>
                                                <form asp-action="UpdateQuantity"
                                                      asp-controller="CartShipping"
                                                      asp-route-id="@item.OrderDetailsId"
                                                      asp-route-quantity="@item.Quantity"
                                                      style="width: auto">

                                                    <div class="def-number-input number-input safari_only mb-0 w-100">

                                                        <input class="quantity" min="0" name="quantity" value="@item.Quantity" type="number">
                                                        <input type="submit" value="update" class="btn btn-outline-info" />
                                                    </div>
                                                </form>
                                                <small id="passwordHelpBlock" class="form-text text-muted text-center">
                                                    (Note, click enter )
                                                </small>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div>


                                                <form style="width: auto"
                                                      asp-controller="CartShipping" asp-action="Remove" asp-route-id="@item.OrderDetailsId">
                                                    <input type="submit" value="Remove" class="btn btn-outline-danger" />
                                                </form>

                                            </div>
                                            <p class="mb-0"><span><strong id="summary">@item.Price</strong></span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <hr class="mb-4">


                    </div>
                </div>

                <div class="mb-3">
                    <div class="pt-4">

                        <h5 class="mb-4">We accept</h5>

                        <img class="mr-2" width="45px"
                             src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
                             alt="Visa">
                        <img class="mr-2" width="45px"
                             src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
                             alt="American Express">
                        <img class="mr-2" width="45px"
                             src="https://mdbootstrap.com/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
                             alt="Mastercard">
                        <img class="mr-2" width="45px"
                             src="https://mdbootstrap.com/wp-content/plugins/woocommerce/includes/gateways/paypal/assets/images/paypal.png"
                             alt="PayPal acceptance mark">
                    </div>
                </div>

            </div>
            <div class="col-lg-4">

                <div class="mb-3">
                    <div class="pt-4">

                        <h5 class="mb-3">The total amount of</h5>

                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                                Temporary amount
                                <span>$  </span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                                Shipping
                                <span>Gratis</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                                <div>
                                    <strong>The total amount of</strong>
                                    <strong>
                                        <p class="mb-0">(including VAT)</p>
                                    </strong>
                                </div>
                                <span><strong>$@Model.Sum(d => d.Price)</strong></span>
                            </li>
                        </ul>
                        <a class="btn btn-primary" style="width:100%"
                           asp-controller="Order" asp-action="Index">
                            go to checkout
                        </a>

                    </div>
                </div>
 

            </div>

        </div>
    </section>
 
 