@model ItemFormViewModel

@{
    {
        ViewData["Title"] = "Item Details";
    }
}
<h2 style="text-align: center">Item Details</h2>
<hr style="margin: auto; width: 50%" />
<div class="row mt-60-px">
    <div class="col-md-4">
       
    </div>
    <div class="col-md-7 justify-content-between">
        <div>
            <h3 style="margin: 20px 0">@Model.Name</h3>
        </div>
        <div class="text-justify mr-3"style="display: block ">
            <h6 style="margin : 5px 10px 5px 0;display: inline-block">Description :</h6>@Model.Description
        </div>
        <div class="text-muted  mr-3" style="display: block ">
            <h6 style="margin : 5px 10px 5px 0;display: inline-block">Created :</h6> @Model.Created
        </div>
        <div class="text-muted  mr-3" style="display: block ">
            <h6 style="margin : 5px 10px 5px 0;display: inline-block">Quantity :</h6> @Model.Quantity
        </div>
        <div class="text-muted  mr-3" style="display: block ">
            <h6 style="margin : 5px 10px 5px 0 ;display: inline-block">Price :</h6> @Model.Price $
        </div>
        <div class="text-muted  mr-3 " style="display: block ">
            <h6 style="margin: 5px 10px 5px 0; width: 90px;display: inline-block ">Discount :</h6> @Model.Discount %
        </div>
        <div class="text-muted  mr-3" style="display: block ">
            <h6 style="margin : 5px 10px 5px 0;display: inline-block">Tax :</h6> @Model.Vat
        </div>


    </div>

</div>
