@model IEnumerable<ItemsViewModel>
@{
    ViewData["Title"] = "Items";

}

<h2 style="text-align: center">
    All Item
</h2>
<hr />
<a class="btn btn-primary " asp-action="Create">
    <i class="bi bi-plus-lg" style="margin-right: 6px"> </i>

    Add Item
</a>

<div style="margin-right: auto;display: inline-block">
    @using (Html.BeginForm("Index", "Items",FormMethod.Get))
    {

        @Html.TextBox("name") <input type="submit" value="Search " />
    }
</div>
<div class="mt-4">

    @if (!Model.Any())
    {
        <div class="alert alert-warning" role="alert">
            No Products Found!
        </div>
    }
    else
    {
        <table class="table table-striped">
            <thead>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Uom</th>
                    <th>Discount</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
               @if (!Model.Any())
               {
                   <div class="alert alert-warning" role="alert">
                       No Item Found!
                   </div>
               }
            @foreach (var item in Model)
            {
                <tr>
                    <td>

                        @Html.ActionLink(item.Name, "Details", "Items"
                            , new { id = item.Id })
                    </td>
                    <td>@item.Price</td>
                    <td>@item.Quantity</td>
                    <td>@item.Uom</td>
                    <td>@item.Discount</td>
                    <td>
                        <a href="@Url.Action("Update","Items",new {id = item.Id})" class="btn btn-primary">
                            <i class="bi bi-pencil-square" style="margin-right: 5px"></i>

                            Edit
                        </a>
                        @if (item.IsDeleted)
                        {
                            <a href="@Url.Action("Delete", "Items", new {id = item.Id})" class="btn btn-success" style="margin-left: 4px">
                                <i class="bi bi-skip-backward" style="margin-right: 5px"></i>
                                Restore
                            </a>
                        }
                        else
                        {
                                @*<a href="javascript:;" class="btn btn-danger js-delete data-Id=@item.Id">

                                        Delete
                                    </a>*@
                            <a href="@Url.Action("Delete", "Items", new {id = item.Id})" class="btn btn-danger">
                                <i class="bi bi-x" style="margin-right: 5px"></i>

                                Delete
                            </a>
                        }

                    </td>
                </tr>
            }
            </tbody>

        </table>
    }

</div>
@section Scripts{
    <script>
        $(document).ready(function () {
            $('.js-delete').on('click ',
                function () {
                    var btn = $(this);
                    bootbox.confirm({
                        message: "Are you sure That We need delete this Product?",
                        buttons: {
                            confirm: {
                                label: 'Yes',
                                className: 'btn-danger'
                            },
                            cancel: {
                                label: 'No',
                                className: 'btn-outline-secondary'
                            }
                        },
                        callback: function (result) {
                            if (result) {
                                $.ajax({
                                    url: '/Items/' + btn.data('id'),
                                    success: function () {
                                        btn.parent('.table').fadeOut();

                                    }
                                });

                            }
                        }
                    });

                });
        });
    </script>
}